# Required: Set the base URL of the application. Mostly used for the SEO tags.
NEXT_PUBLIC_BASE_URL=

# ------ Dev ------

# Optional: Set the dev mode ("true" or "false"). Default to "false".
NEXT_PUBLIC_DEV_MODE=false

# ------ Telemetry ------

# Optional: Set the log level ("error", "warn", "info", "debug"). Default to "info".
NEXT_PUBLIC_LOG_LEVEL=info

# Optional: This variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
SENTRY_AUTH_TOKEN=

# Optional. 'true' of 'false' to enable Sentry. Default to 'false' if undefined.
NEXT_PUBLIC_SENTRY_ENABLED=

# Optional. Data Source Name required by sentry to report errors and performance issues. If undefined, Sentry will be disabled
NEXT_PUBLIC_SENTRY_DSN=

# Optional. Environment used in Sentry, highly recommended.
NEXT_PUBLIC_SENTRY_ENVIRONMENT=

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the transactions for performance monitoring. Default to 0.1 (10%). Keep it low in Production, but can be set to 1.0 (100%) in development.
NEXT_PUBLIC_SENTRY_TRACE_SAMPLE_RATE=0.1

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the sessions for replay. Default to 0.1 (10%). Keep it low in Production, but can be set to 1.0 (100%) in development.
NEXT_PUBLIC_SENTRY_REPLAY_SESSION_SAMPLE_RATE=0.1

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the sessions in error for replay. Default to 1.0 (100%). Can keep it like this in Production, reduce it if too much noise or close to quota.
NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=1

# ------ Verida Network ------

# Optional: Set the Verida Network ("myrtle", "banksia", "devnet", "local"). Default to "banksia".
NEXT_PUBLIC_VERIDA_NETWORK=banksia

# Optional: Set the Verida RPC URL. Default to the SDK default public RPC URL. Strongly suggested to set a custom paid one for reliability. Production deployments should set this.
NEXT_PUBLIC_VERIDA_RPC_URL=

# ------ Private Data API ------

# Optional: Set the base URL of Verida's private data API.
# Will be required once the feature is functional, for now we can switch to the mock data.
NEXT_PUBLIC_PRIVATE_DATA_API_BASE_URL=

# ------ AI Assistant ------

# Optional: Set the feature flag to enable ("true") or disable ("false") the AI assistant. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_AI_ASSISTANT_ENABLED=false

# Optional: Set the default AI provider ("bedrock", "groq"). Default to "groq".
NEXT_PUBLIC_DEFAULT_AI_PROVIDER=bedrock

# Optional: Set the default AI model ("LLAMA3_70B", "LLAMA31_70B", "LLAMA3_8B", "MIXTRAL_8_7B"). Note LLAMA31_70B is only available for grok. Default to "LLAMA31_70B" for grok.
NEXT_PUBLIC_DEFAULT_AI_MODEL=LLAMA3_70B

# ------ Inbox ------

# Optional: Set the feature flag to enable ("true") or disable ("false") the Inbox feature. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_INBOX_ENABLED=false

# ------ Data ------

# Optional: Set the feature flag to enable ("true") or disable ("false") the Data feature. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_DATA_ENABLED=true

# Optional: Set the feature flag to enable ("true") or disable ("false") destroying a database. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_DATA_DESTROY_DB_ENABLED=false

# Optional: Set the feature flag to enable ("true") or disable ("false") deleting records. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_DATA_DELETE_RECORD_ENABLED=false

# ------ Command Dialog ------

# Optional: Set the feature flag to enable ("true") or disable ("false") the command dialog. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_COMMAND_DIALOG_ENABLED=false

# ------ Data Connections ------

# Optional: Set the feature flag to enable ("true") or disable ("false") the data connections. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_DATA_CONNECTIONS_ENABLED=false

# Optional: Set the feature flag to enable ("true") or disable ("false") the data connections logs. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_DATA_CONNECTIONS_LOGS_ENABLED=false

# Optional: Set the feature flag to enable ("true") or disable ("false") the data connections logs destroy. Set to "false" by default.
NEXT_PUBLIC_FEATURE_FLAG_DATA_CONNECTIONS_LOGS_DESTROY_ENABLED=false

# ------ Notion ------

# Required: Set the Notion API key.
NOTION_API_KEY=

# Required: Set the Notion database ID for the restricted access feature.
NOTION_RESTRICTED_ACCESS_DATABASE_ID=
