@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23% 97%;
    --foreground: 0 0% 6.7%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 6.7%;
    --primary-button: 240 57.8% 57.3%;
    --primary-button-hover: 243 90% 27%;
    --primary-button-foreground: 0 0% 100%;

    --secondary: 210 20% 98%;
    --secondary-foreground: 220 9% 46%;
    --secondary-button: 0 0% 100%;
    --secondary-button-hover: 220 14% 96%;
    --secondary-activity-sending: 220 14% 96%;
    --secondary-activity-receiving: 141 84% 93%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 214 31.8% 91.4%;

    --destructive: 353 98% 65%;
    --destructive-foreground: 210 40% 98%;

    --approved: 158 53% 59%;

    --border: 214 31.8% 91.4%;
    --input: 214 31.8% 91.4%;
    --ring: 240 57.8% 57.3%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}
